<app-header></app-header>
<div class="p-4" >
    <mat-card class="w-3/4 mx-auto" >
        <table mat-table class="mat-elevation-z8 w-full" [dataSource]="dataSource" >
            <!-- ui cell -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef >ID</th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                <td mat-footer-cell *matFooterCellDef>
                    <button 
                        (click)="createBook()"
                        mat-raised-button color="primary"
                    >
                        <mat-icon>add</mat-icon> book
                    </button>    
                </td>
            </ng-container>

            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef >Title</th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                <td mat-footer-cell *matFooterCellDef></td>

            </ng-container>

            <ng-container matColumnDef="author">
                <th mat-header-cell *matHeaderCellDef >Author</th>
                <td mat-cell *matCellDef="let element"> {{element.author}} </td>
                <td mat-footer-cell *matFooterCellDef></td>

            </ng-container>

            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef >Category</th>
                <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                <td mat-footer-cell *matFooterCellDef></td>

            </ng-container>

            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef >Price</th>
                <td mat-cell *matCellDef="let element"> {{element.price | currency:'VND'}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef >Action</th>
                <td mat-cell *matCellDef="let element">
                    <div class="flex space-x-4 items-center" >
                        <button 
                            (click)="deleteBook(element.id)"
                            mat-mini-fab color="warn"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>    
                        <button  
                            (click)="getBookById(element.id)"
                            mat-mini-fab color="primary"
                        >
                            <mat-icon>edit</mat-icon>
                        </button> 
                    </div> 
                </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <!-- ui column -->
            <tr mat-header-row  *matHeaderRowDef="displayedColumn"></tr>
            <tr mat-row *matRowDef="let row; columns:displayedColumn"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumn" class="border-t"></tr>
        </table>
    </mat-card>
</div>