<div>
    <mat-card class="p-3">
        <form class="space-y-2" [formGroup]="bookForm" (ngSubmit)="onSubmit()" >
            <div class="w-full flex flex-row">
                <button type="button" (click)="onNoClick()"  mat-icon-button color="warn" class="ml-auto" >
                    <mat-icon>highlight_off</mat-icon>
                </button>
            </div>

            <div>
                <input type="text" hidden formControlName="id" id="id" name="id">
            </div>

            <div>
                <mat-form-field class="w-full">
                    <mat-label>
                        Title
                        <span 
                            class="text-red-500 text-sm"
                            *ngIf="title && title.invalid && (title.touched || title.dirty)"
                        >
                            is required
                    </span>
                    </mat-label>
                    <input matInput formControlName="title" name="title">

                </mat-form-field>
    
                <mat-form-field class="w-full">
                    <mat-label>
                        Author
                        <span 
                            class="text-red-500 text-sm"
                            *ngIf="author && author.invalid && (author.touched || author.dirty)"
                        >
                         is required
                    </span>
                    </mat-label>
                    <input matInput formControlName="author" name="author">
                </mat-form-field>
    
            </div>

            <div class="flex items-center space-x-2" >
                <mat-form-field class="w-full">
                    <mat-label>
                        Category
                        <span 
                            class="text-red-500 text-sm"
                            *ngIf="category && category.invalid && (category.touched || category.dirty)"
                        >
                            is required
                    </span>
                    </mat-label>
                    <mat-select formControlName="category" name="category">
                        <mat-option value="Tieu Thuyet">Tieu thuyet</mat-option>
                        <mat-option value="Truyen Tranh">Truyen Tranh</mat-option>
                        <mat-option value="Giao Duc">Giao Duc</mat-option>
                    </mat-select>

                </mat-form-field>
    
                <mat-form-field class="w-full">
                    <mat-label>
                        Price 
                    <span 
                        class="text-red-500 text-sm"
                        *ngIf="price && price.invalid && (price.touched || price.dirty)"
                    >
                        is required
                    </span> </mat-label>
                    <input matInput type="number" formControlName="price" name="price">

                </mat-form-field>
            </div>

            <div class="space-x-2" >
                <button 
                    *ngIf="isCreate"
                    type="submit"
                    mat-raised-button color="primary" 
                >
                    <mat-icon>add</mat-icon> create
                </button>
                <button 
                    *ngIf="!isCreate"
                    type="submit"
                    mat-raised-button color="warn" 
                >
                    <mat-icon>update</mat-icon> update
                </button>
            </div>
        </form>
    </mat-card>
</div>